body {
  font-family: 'Shadows Into Light', cursive;
}

.nav-wrapper {
 background-color: #cf0f0f;
}

nav ul a {
  font-size: 30px;
}

nav .brand-logo {
  font-size: 50px;
}

.card-panel {
  font-size: 45px;
}

.input-field label {
  font-size: 25px;
}

.photos {
    display: inline-block;
    margin: auto;
    height: 125px;
    width: 125px;
    border-radius: 50%;
}

.btn {
  background-color: #B20000;
  margin-left: auto;
}

.btn:hover {
  background-color: #042d00;
}

.profile-content {
  padding-top: 100px;
}

.pencil {
  padding-top: 3%;
  padding-bottom: 3%;
}

td, th {
  font-size: 30px;
}
