<nav class="blue">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Stubby Pencil Scoring</a>
        <a href="#" class="button-collapse" data-activates="mobile-demo"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/logout">Log Out</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="/">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/logout">Log Out</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="pencil center-align">
                <img src="../images/pencil.jpg" alt="Stubby Pencil" />
            </div>
        </div>
    </div>


    <div class="row">
        <form class="col s12" method="post" action="/creategame">
            <div class="row">
                <div class="input-field col s12 m6 l6">
                    <input placeholder="i.e. Pinnacle, Hearts, Football" id="game_name" type="text" class="validate" name="game_name">
                    <label for="game_name">Game Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6 l6">
                    <input id="players" type="text" class="validate" data-error="Use only numbers.">
                    <label for="players"># of Players/Teams</label>
                </div>
            </div>
            <div id="players_form" class="row">
                <div class="input-field col s12 m6 l6">
                    <input id="game_name" type="text" class="validate" name="user_name" value="{{username}}">
                    <label for="user_name">UserName</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6 l6">
                    <input id="number_of_rounds" type="text" class="validate" data-error="Use only numbers." name="number_of_rounds">
                    <label for="number_of_rounds"># of Rounds</label>
                </div>
            </div>
            <!-- <div class="row">
                <div class="input-field col s12 m6 l6">
                    <input placeholder="i.e. Quarter, Half, Period, Hand" id="round_label" type="text" class="validate" name="label">
                    <label for="round_label">Round Label</label>
                </div>
            </div> -->
            <div class="container center-align">
                <button class="waves-effect waves-light btn" type="submit">Submit</button>
            </div>
        </form>
    </div>
    <!-- End container div -->
</div>
